#project-card {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    background-color: #512589;
    color: white;
    padding: 25px;
}

.card-img {
    display: block;
    margin: auto;
}

.project-title {
    font-weight: 600 !important;
}

