.scroll-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn {
    font-size: 2.4rem;
    padding: 1.2rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    background-color: #512589;
    border-radius: 50%;
    border: solid 1px white;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-btn-icon {
    animation: gototop 1.2s linear infinite alternate-reverse;
}

.down-btn-icon {
    margin-left: 0.5rem;
}

.scroll-btn {
    animation: gototop 1.2s linear infinite alternate-reverse;
    font-size: 1.2rem;
    padding: 1.2rem;
    color: #fff;
    position: fixed;
    bottom: 0.1rem;
    right: 2rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes gototop {
    0% { transform: translateY(-0.5rem) };
    100% { transform: translateY(1rem) };
}